.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.left-container {
    margin: 20px;
    flex: 1;
}
.left-container img {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin-top: 40px;
    height: auto;
}
.right-container {
    flex: 1;
    width: 500px;
    font-family: body;
    font-size: 30px;
    color: #0E0F19;
    text-align: center;
}
.right-container img {
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 40px;
    margin-top: 50px;
    height: auto;
}
.header {
    font-family: body;
    font-size: 20px;
    margin: 20px;
}
@font-face {
    font-family: body;
    src: url(../fonts/AnonymousPro-Regular.ttf);
  }