.container {
  font-family: body;
  padding: 15px;
  min-height: 100vh;
  min-width: 330px;
  background: #FAFFD8;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
  padding-top: 16px;
  text-align: center;
  font-family: body;
  font-size: 14px;
}
* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: body;
  src: url(../fonts/AnonymousPro-Regular.ttf);
} 
