.container {
  font-family: glitch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,#f42272,#b8b8f3,#f397d6,#d7b8f3);
  background-size: 240% 240%;
  animation: gradient-animation 12s ease infinite;
}
.heading {
  color: black;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: glitch;
  src: url(../fonts/Glitchdemo-lxgGq.ttf);
}