.container {
  background: linear-gradient(45deg,#f42272,#b8b8f3,#f397d6,#d7b8f3);
  background-size: 240% 240%;
  animation: gradient-animation 12s ease infinite;
  font-family: rainy-hearts;
  padding: 15px;
  min-height: 100vh;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: glitch;
  src: url(../fonts/Glitchdemo-lxgGq.ttf);
}
@font-face {
  font-family: rainy-hearts;
  src: url(../fonts/rainyhearts.ttf);
}
* {
  padding: 0;
  margin: 0;
}
  
  