.container {
  font-family: body;
  padding: 15px;
  min-height: 100vh;
  background: lightpink;
}
* {
  padding: 0;
  margin: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@font-face {
  font-family: heading;
  src: url(../fonts/Bogart-Regular-trial.ttf);
}
@font-face {
  font-family: body;
  src: url(../fonts/Montserrat-Light.ttf);
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}  