.container {
  font-family: body;
  padding: 15px;
  min-height: 100vh;
  min-width: 330px;
  background: #FAFFD8;
}
* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: body;
  src: url(../fonts/AnonymousPro-Regular.ttf);
} 