.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E0F19;
    padding: 15px;
    font-family: heading;
    overflow: hidden;
}
.home {
    color: #ECEBE4;
    font-size: 40px;
    text-decoration: none;
}
.home:hover {
    color: #8EA604;
}
.list li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-left: 20px;
}
.links {
    text-decoration: none;
    font-size: 30px;
    color: #ECEBE4;
}
.links:hover {
    color: #f42272;
}

@font-face {
    font-family: heading;
    src: url(../fonts/Bogart-Regular-trial.ttf);
  }
