body {
    margin: 0;
    padding: 0;
    font-family: body;
}
.container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar {
    height: 100px;
    background-color: #F391A0;
    position: relative;
    border-radius: 10px;
    min-width: 300px;
  }
  
  .logo img {
    height: 60px;
    animation: spin 5s linear infinite;
  }
  
  .menu-icon {
    display: none;
  }

  .menu-icon img {
    height: 40px;
  }
  
  .nav-elements ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-elements ul li:not(:last-child){
    margin-right: 60px;
  }
  
  .nav-elements ul a {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
  }
  
  .nav-elements ul a.active {
    font-weight: 500;
    position: relative;
  }
  
  .nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
  }

  @media (max-width: 600px) {
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  
    .nav-elements {
      position: absolute;
      right: 0;
      top: 115px;
      background-color: #F391A0;
      width: 0px;
      height: calc(100vh - 15px);
      transition: all 0.3s ease-in;
      overflow: hidden;
    }
  
    .nav-elements.active {
      border-radius: 10px;
      width: 150px;
    }
  
    .nav-elements ul {
      display: flex;
      flex-direction: column;
    }
  
    .nav-elements ul li {

      margin-top: 20px;
      margin-left: 15px;
    }
  }

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
    font-family: body;
    src: url(../fonts/AnonymousPro-Regular.ttf);
  }
