.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232e21;
    padding: 20px;
    margin: 0;
}
.logo {
    color: #f397d6;
    font-size: 50px;
    font-family: glitch;
    text-decoration: none;
}
.list li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.links {
    text-decoration: none;
    font-size: 40px;
    color: #b8b8f3;
}
.links:hover {
    color: #f42272;
}


@font-face {
    font-family: glitch;
    src: url(../fonts/Glitchdemo-lxgGq.ttf);
  }